.background {
    font-family: sans-serif;
    display: flex;
    gap: 20px;
    height: ;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-color: #26A69A;
  }